.section
  padding-top 40px
  padding-bottom 40px
  
  &--areas-work
   font-size 13px
   background-color #fafafa
   
.areas-work
  &__list
    position relative
    z-index 1
  &__item
    display block
    margin-bottom 60px
    
    &:last-child
      margin-bottom 0
      
    &:before
      content ''
      width 320px
      height 180px
      display block
    
    &:nth-child(1)
      &:before
        background url('../images/areas-work-1.png')
    &:nth-child(2)
      &:before
        background url('../images/areas-work-2.png')
    &:nth-child(3)
      &:before
        background url('../images/areas-work-3.png')
    p
      color #444444
      font-size 18px
      font-weight 700
      padding-left 50px
      height 60px
      align-items center
      display flex


.button
  &--areas-work
    display none