.section
  padding-top 40px
  padding-bottom 40px
  
  &--areas-work
   font-size 13px
   background-color #fafafa
   
.areas-work
  &__list
    position relative
    z-index 1
    
    +md-min()
      display flex
      justify-content space-between
      
  &__item
    display block
    
    +md-min()
      width 30%
      min-width 30%
      
      
    &:before
      content ''
      width 100%
      padding-bottom 57%
      display block
      background-position center
      background-size cover
    
    &:nth-child(1)
      &:before
        background-image url('../images/areas-work-1.png')
    &:nth-child(2)
      &:before
        background-image url('../images/areas-work-2.png')
    &:nth-child(3)
      &:before
        background-image url('../images/areas-work-3.png')
    p
      color #444444
      font-size 18px
      font-weight 700
      padding-left 50px
      height 60px
      align-items center
      display flex


.button
  &--areas-work
    display none