.section
  &--initial
    padding-top 180px
    padding-bottom 235px
    background-image url('../images/initial-screen.png')
    background-repeat no-repeat
    background-size cover
    position relative
    
    &:before
      content ''
      background url('../images/initial-mask.jpg')
      position absolute
      z-index -1
      top 0
      bottom 0
      left 0
      right 0
    
.page
  color #ffffff
  font-family "Circe"
  text-align left
  max-width 450px
  margin auto
  
  &__over
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform uppercase
    margin-bottom 10px
    
  &__title
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-transform uppercase
    
    margin-bottom 10px
  
  &__text
    font-size 18px
    font-weight 400
    line-height 30px
    
    