.section--service-advantages
  padding-top 100px
  padding-bottom 100px

.service-advantages
  &__list
    margin-top 90px
    
  &__item
    display block
    position relative
    
    margin-bottom 40px
    color #444444
    
    h3 
      font-size 18px
      font-weight 700
      line-height 36px
      margin-bottom 10px
      
    p
      font-size 16px
      font-weight 300
      line-height 28px
      strong
        font-weight 700
     
    &:last-child
      img
        object-fit contain
    
    &:not(:last-child)
      background-color #fafafa
      padding 40px 20px
      &:before
        color #3abdc9
        font-size 100px
        font-weight 700
        position absolute
        top 15px
        right 20px
    
    &:nth-child(1)
      &:before
        content '1'
    
    &:nth-child(2)
      &:before
        content '2'
    
    &:nth-child(3)
      &:before
        content '3'