.footer
  background-color #222222
  padding-top 55px
  padding-bottom 35px
  &__list
    &:not(:last-child)
      margin-right 50px
  &__item
    &:not(:first-child)
      margin-top 8px
    a,span
      color #ffffff
      font-size 14px
      line-height 22px
    &.item--tel
      a
        color #3abdc9
        font-size 18px
  &__right-side
    text-align right
  &__bottom
    width 100%
    margin-top 50px
    p,a
      color #787878
      font-size 14px
      span
        color #3abdc9
        font-weight 700
