footer.footer.container.p-s__85.flex.j-c__s-b.f-w__w
  .footer__left-side.flex
    ul.footer__list
      li.footer__item 
        a(href='#') Аренда оборудования
      li.footer__item 
        a(href='#') Продажа оборудования
      li.footer__item 
        a(href='#') Услуги
    ul.footer__list
      li.footer__item 
        a(href='#') Контакты и реквизиты
      li.footer__item 
        a(href='#') О компании
      li.footer__item 
        a(href='#') Политика конфиденциальности
  .footer__right-side 
    ul.footer__list
      li.footer__item.item--tel 
        a(href='tel:+79035395352') +7 903 539 53 52
      li.footer__item 
        span СПБ, Дворцовая пл., д. 12, офис 314
      li.footer__item 
        a(href='mailto:info@oboi.life') info@oboi.life
  .footer__bottom.flex.j-c__s-b 
    p 2019 г. Копирование материалов сайта только с письменного разрешения владельца 
    a(href='#').pixelaria Разработано в 
      span Pixelaria
