footer.section.section--footer.footer
  .container
    .footer__parts
      .footer__part
        ul.footer__list.footer-list
          li.footer-list__item 
            a.footer-list__link(href='#') Аренда оборудования
          li.footer-list__item 
            a(href='#') Продажа оборудования
          li.footer-list__item 
            a(href='#') Услуги
        ul.footer__list
          li.footer-list__item 
            a(href='#') Контакты и реквизиты
          li.footer-list__item 
            a(href='#') О компании
          li.footer-list__item 
            a(href='#') Политика конфиденциальности
      .footer__part
        .contacts
          a.contacts__phone(href='tel:+79035395352') +7 903 539 53 52
          .contacts__address СПБ, Дворцовая пл., д. 12, офис 314
          a.contacts__email(href='mailto:info@sol-mos.ru') info@sol-mos.ru
    .footer__copyright.copyright
      .copyright__text 2019 г. Копирование материалов сайта только с письменного разрешения владельца 
      .copyright__develop Разработано в <a href="http://pixelaria.ru" target="_blank" class="link link--green link--bold">Pixelaria</a>
script(src='js/app.min.js')
