header.header
  .header__main
    .container.header__container
      .header__part.header__part--logo
        img.logo(src='images/logotype.jpg' alt='logotype')
      .header__part.header__part--phone
        a(href='tel:+79035395352').header__phone
          span +7 903 539 53 52
      nav.header__part.header__part--menu
        ul.nav#nav
          li.nav__item
            a(href='#special').nav__link.scroll-to-target Спецпредложения
          li.nav__item
            a(href='#areas').nav__link.scroll-to-target Направления работы
          li.nav__item
            a(href='#benefits').nav__link.scroll-to-target Преимущества
        .nav-toggler(data-target="#nav")

      


    

