include mixins.pug
meta( name='robots' content='none' )
meta( charset='utf-8' )
meta( name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" )
link( rel='stylesheet' href='css/style.min.css' )
meta(name="theme-color" content="#252d3d")
script(src="https://yastatic.net/jquery/3.3.1/jquery.min.js")
    
