header.header
  .header__top.flex.j-c__s-b.container.p-s__85
    .header__top_left-side.flex.a-i__c
      p 9:00-18:00 без выходных
      a(href="mailto:info@sol-mos.ru") info@sol-mos.ru
      form.header__top_form
        label.header__top_search
          input(type='text' placeholder='Поиск оборудования' name='search')
    .header__top_right-side
      button.button ОСТАВИТЬ ЗАЯВКУ
  .header__main.container.flex.j-c__s-b.a-i__c.p-s__85
    .header__main_left.flex.a-i__c
      .header__main_logotype
        img(src='images/logotype.jpg' alt='logotype')
      nav.header__main_nav
        ul.header__main_menu-list.flex.a-i__c
          li.header__main_menu-item.flex.a-i__c
            a(href='#').b-line Оборудование в аренду
          li.header__main_menu-item.flex.a-i__c
            a(href='#').b-line Продажа оборудования
          li.header__main_menu-item.flex.a-i__c
            a(href='#').b-line Услуги
          li.header__main_menu-item.flex.a-i__c
            a(href='#').b-line О компании
    .header__main_right 
      a(href='tel:+79035395352').header__main_tel 
        span +7 903 
        |539 53 52
