mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
      use(xlink:href="#icon-" + name)


mixin special-sale
  .special-sale.flex 
    .special-sale__info
      span.over-heading СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ
      h3 АРЕНДА И ПРОДАЖА МАЧТОВОГО ГРУЗОПАССАЖИРСКОГО ПОДЪЕМНИКА 
        span ALIMAK SC 45/30
      .flex
        ul.special-sale__list 
          li.special-sale__item.flex
            p Грузоподъёмность:
            p 3,2 тонны
          li.special-sale__item.flex
            p Высота подъема: 
            p до 250 м
          li.special-sale__item.flex
            p Остановка: 
            p поэтажная плавная
        ul.special-sale__list 
          li.special-sale__item.flex
            p Скоростной подъём: 	
            p до 65м/мин
          li.special-sale__item.flex
            p Кабина ШхДхВ: 
            p 1,5х3,9х2,3 м
      button.button Узнать подробнее
    .special-sale__img
      img(src="images/special-sale.jpg" alt='')
