doctype html
html(lang='ru')
  head
    include inc/head.pug
    title main page sol mos
  body.index
    ul.index__list
      li.index__item
        a.index__link(href="main.html", target="_blank") Главная
      li.index__item
        a.index__link(href="product.html", target="_blank") Карточка товара
      li.index__item
        a.index__link(href="rent.html", target="_blank") Аренда
      li.index__item
        a.index__link(href="sale.html", target="_blank") Продажа
      li.index__item
        a.index__link(href="service.html", target="_blank") Услуги