doctype html
html(lang='ru')
  head
    include inc/head.pug
    title main page sol mos
  body
    include inc/header.pug
    main.main
      section.section.section--initial
        .lines
          .lines__item.lines__item--green
        .container
          .page
            p.page__over НАДЕЖНЫЙ ПАРТНЕР С 10-ЛЕТНИМ ОПЫТОМ РАБОТЫ
            h1.page__title АРЕНДА СТРОИТЕЛЬНОЙ ТЕХНИКИ
            p.page__text Аренда и продажа строительного оборудования. Профессиональное сопровождение на всех этапах работ: монтаж, установка, обслуживание и ремонт 
            a.page__btn.fancybox-inline(href="#contact_form_popup")

      // ПЕРВЫЙ ЭКРАН
      section.section.section--advantages.section--nomt
        .container
          ul.advantages__list
            li.advantages__item.advantage
              h6.advantage__title ДОРОЖИМ РЕПУТАЦИЕЙ
              p.advantage__text
                b Более 10 лет 
                |успешно работаем на рынке и бережно относимся к своей репутации
            li.advantages__item.advantage
              h6.advantage__title ДЕРЖИМ НИЗКИЕ ЦЕНЫ
              p.advantage__text Наши цены на строительную технику 
                b выгодно отличаются 
                |от конкурентов
            li.advantages__item.advantage
              h6.advantage__title ЦЕНИМ ВСЕХ КЛИЕНТОВ
              p.advantage__text Каждый клиент для нас исключительный и мы 
                b всегда готовы пойти на встречу
      
      // Заказать консультацию
      section.section--order-consultation
        .container
          p Оставьте заявку и наши специалисты помогут выбрать оптимальное решение для вашей задачи
          button.button.button--white Заказать консультацию
        
      // СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ
      section.section.section--special-sale#special
        .container.p-s__85
          .wrd-slider
            .wrd-slider__control.flex.j-c__s-b
              button.wrd-slider__control_button.button--prev
              button.wrd-slider__control_button.button--next
            .wrd-slider__wrap.flex
              +special-sale              
              +special-sale              
          
      // НАПРАВЛЕНИЯ РАБОТЫ
      section.section.section--areas-work#areas
        .container
          h2.section__title
            span НАПРАВЛЕНИЯ 
            |РАБОТЫ
          ul.areas-work__list
            li.areas-work__item.areas-work-item
              a.areas-work-item__link(href="#")
                .areas-work-item__img
                  .areas-work-item__overlay 
                    span Узнать больше
                  img.img.img--responsive(src="https://pbs.twimg.com/media/D_lJSXZWwAE5gVI.jpg")
                p.areas-work-item__title АРЕНДА
            li.areas-work__item.areas-work-item 
              a.areas-work-item__link(href="#")
                .areas-work-item__img
                  .areas-work-item__overlay 
                    span Узнать больше
                  img.img.img--responsive(src="https://pbs.twimg.com/media/D_lJSXZWwAE5gVI.jpg")
                p.areas-work-item__title Продажа
            li.areas-work__item.areas-work-item 
              a.areas-work-item__link(href="#")
                .areas-work-item__img
                  .areas-work-item__overlay 
                    span Узнать больше
                  img.img.img--responsive(src="https://pbs.twimg.com/media/D_lJSXZWwAE5gVI.jpg")
                p.areas-work-item__title Услуги

          a.button.button--areas-work(href="mailto:info@sol-mos.ru") Оставьте заявку
        
      // ПРЕИМУЩЕСТВА НАШЕГО СЕРВИСА
      section.section.section--service-advantages#benefits
        .container
          h2.section__title
            span ПРЕИМУЩЕСТВА 
            |НАШЕГО СЕРВИСА
          
          ul.service-advantages__list
            li.service-advantages__item 
              h3.service-advantages__title УДОБСТВО НА КАЖДОМ ЭТАПЕ 
              p Вы получаете 
                strong комплекс услуг 
                |от квалифицированных специалистов. У вас 
                strong нет необходимости тратить время и деньги 
                |на обучение своих людей. 
              p После окончания проекта (работ) не возникает вопрос о продаже ненужного оборудования или увольнении избыточного персонала.
            li.service-advantages__item 
              h3.service-advantages__title ОПЕРАТИВНОСТЬ
              p Аренда - это 
                strong минимум времени от запроса оборудования до его получения. 
                |При поломке техники или неявки персонала, вы оперативно получаете замену. 
              p 
                strong Работа идет без остановок 
                |на отпуска и больничные. Один поставщик услуг способен удовлетворить нужды разных этапов строительства.
            li.service-advantages__item 
              h3.service-advantages__title ЭКОНОМИЯ И КАЧЕСТВО
              p 
                strong Не нужны крупные затраты 
                |на покупку оборудования, его хранение, обслуживание, ремонт, бухгалтерский учет  и утилизацию. 
                strong Идет экономия на налогах. 
              p У вас есть четкая картина затрат по технике, чтобы точно рассчитать бюджет проекта и контролировать расходы.
              p Арендуемое оборудование и персонал имеет сертификаты соответствия, необходимые аттестации, разрешения на работу и эксплуатацию 
                strong по требованиям ППБ и ТК РФ.
            li.service-advantages__item 
              h3.section__title СДЕЛАЙТЕ ЗАКАЗ 
                span ПРЯМО СЕЙЧАС!
              form.service-advantages-form
                .service-advantages-form__fields
                  input.service-advantages-form__input.input(type='text' placeholder='Имя')
                  input.service-advantages-form__input.input(type='tel' placeholder='Телефон')
                button.service-advantages-form__button.button.button--green Отправить
                .service-advantages-form__image
                  img.img.img--responsive(src='images/2-cars.jpg' alt='')
          
    include inc/footer.pug
            
v