doctype html
html(lang='ru')
  head
    include inc/head.pug
    title main page sol mos
  body
    include inc/header.pug
    main.main
      section.section.section--page
        .container
          .page-start
            ul.page-start__breadcrumbs.breadcrumbs
              li.breadcrumbs__item
                a.breadcrumbs__link(href="/") Главная
              li.breadcrumbs__item 
                | Наши услуги
            h1.page-start__title 
              | Наши 
              span Услуги
      section.section.section--services
        .container
          .services
            a.services__item.services__item--drive(href="service_1.html")
              .services__inner
                  span УПРАВЛЕНИЕ 
                  | ГРУЗОПОДЪЕМНЫМИ МАШИНАМИ И МЕХАНИЗМАМИ
                  span.services__lines
            a.services__item.services__item--repair(href="service_2.html")
              .services__inner
                span ДИАГНОСТИКА, РЕМОНТ 
                  | РАБОТЫ ПО СОДЕРЖАНИЮ ОБОРУДОВАНИЯ 
                  span.services__lines
            a.services__item.services__item--craft(href="service_3.html")
              .services__inner
                  span ПРОИЗВОДСТВО 
                  | СТРОИТЕЛЬНЫХ РАБОТ ЛЮБОЙ СЛОЖНОСТИ
                  span.services__lines
            a.services__item.services__item--other(href="service_4.html")
              .services__inner
                  span ДРУГИЕ УСЛУГИ 
                  | СОПРОВОЖДАЮЩИЕ СТРОИТЕЛЬНЫЙ ПРОЦЕСС
                  span.services__lines
    include inc/footer.pug
    