doctype html
html(lang='ru')
  head
    include inc/head.pug
    title main page sol mos
  body
    include inc/header.pug
    main.main
      section.section.section--page
        .container
          .page-start
            ul.page-start__breadcrumbs.breadcrumbs
              li.breadcrumbs__item
                a.breadcrumbs__link(href="/") Главная
              li.breadcrumbs__item 
                | Наши услуги
            h1.page-start__title 
              | Наши 
              span Услуги
      section.section.section--services
        .container
          .services
            a.services__item.services__item--drive
              .services__inner
                  span УПРАВЛЕНИЕ 
                  | ГРУЗОПОДЪЕМНЫМИ МАШИНАМИ И МЕХАНИЗМАМИ
                  span.services__lines
            a.services__item.services__item--repair
              .services__inner
                span ДИАГНОСТИКА, РЕМОНТ 
                  | РАБОТЫ ПО СОДЕРЖАНИЮ ОБОРУДОВАНИЯ 
                  span.services__lines
            a.services__item.services__item--craft
              .services__inner
                  span ПРОИЗВОДСТВО 
                  | СТРОИТЕЛЬНЫХ РАБОТ ЛЮБОЙ СЛОЖНОСТИ
                  span.services__lines
            a.services__item.services__item--other
              .services__inner
                  span ДРУГИЕ УСЛУГИ 
                  | СОПРОВОЖДАЮЩИЕ СТРОИТЕЛЬНЫЙ ПРОЦЕСС
                  span.services__lines
      section.section.section--service
        .container
          h1.section__title
            span УПРАВЛЕНИЕ 
            | ГРУЗОПОДЪЕМНЫМИ МАШИНАМИ И МЕХАНИЗМАМИ
          p.blockquote Предоставляем операторов на следующее оборудование:  
          .works
            .works__item.work
              .work__desc
                p.work__title Башенные краны с верхней и нижней поворотной частью 
                a.work__btn Заказать
              .work__img
                img.img.img--responsive(src="https://via.placeholder.com/180")  
            .works__item.work
              .work__desc
                p.work__title Строительные подъемники и платформы
                a.work__btn Заказать
              .work__img
                img.img.img--responsive(src="https://via.placeholder.com/180")  
            .works__item.work
              .work__desc
                p.work__title Строительные подъемники и платформы 
                a.work__btn Заказать
              .work__img
                img.img.img--responsive(src="https://via.placeholder.com/180")  
            .works__item.work
              .work__desc
                p.work__title Фронтальные и телескопические погрузчики 
                a.work__btn Заказать
              .work__img
                img.img.img--responsive(src="https://via.placeholder.com/180")  
            .works__item.work
              .work__desc
                p.work__title Подъемники - вышки 
                a.work__btn Заказать
              .work__img
                img.img.img--responsive(src="https://via.placeholder.com/180")  
            .works__item.work
              .work__desc
                p.work__title Гусеничные и колесные тракторы и экскаваторы 
                a.work__btn Заказать
              .work__img
                img.img.img--responsive(src="https://via.placeholder.com/180")  
            .works__item.work
              .work__desc
                p.work__title Одно - и двухвальцовые асфальтные и грунтовые катки
                a.work__btn Заказать
              .work__img
                img.img.img--responsive(src="https://via.placeholder.com/180")  
            .works__item.work.work--clear
              .work__desc
                p.work__title  На оборудовании нулевого цикла наши операторы способны работать со всем спектром навесного оборудования.
    include inc/footer.pug
    