@import 'inc/fonts.styl'

@import 'plugins/wrd-reset.styl'
@import 'plugins/wrd-atomic.styl'
@import 'inc/mixins.styl'

@import 'inc/base.styl'

@import 'inc/header.styl'
@import 'inc/footer.styl'

@import 'section/section.styl'
@import 'section/initial.styl'
@import 'section/order-consultation.styl'
@import 'section/advantages.styl'
@import 'section/special-sale.styl'
@import 'section/areas-work.styl'
@import 'section/service-advantages.styl'
@import 'section/rent.styl'
@import 'section/product.styl'
@import 'section/services.styl'

@import 'adaptive/adaptive.styl'
